<div class="col-sm-5 col-sm-offset-1">
  <div class="form-group">
    <label>Airport</label>
    <input type="text" class="form-control" id="airport" value="EWR (Newark Liberty)" readonly>
  </div>
</div>
<div class="col-sm-5">
  <div class="form-group">
    <label>Location to visit</label>
    <input type="text" class="form-control" id="destination" value="Legoland Ridge Hill, 39 Fitzgerald Street, Yonkers, NY 10710, USA" readonly>
  </div>
</div>