<div class="col-sm-5 col-sm-offset-1">
  <div class="form-group">
    <label>Distance to visit location</label>
    <select class="form-control">
      <option disabled="" selected="">- select -</option>
      <option>Very close (< 5 minutes)</option>
      <option>Inbetween the airport and destination </option>
      <option>Closer to the airport than the destination</option>
    </select>
  </div>
</div>