<div class="col-sm-5">
  <div class="form-group">
    <label>Minimum star rating</label>
    <select class="form-control">
      <option disabled="" selected="">- select -</option>
      <option>&#9734 &#9734 &#9734 &#9734 &#9734</option>
      <option>&#9734 &#9734 &#9734 &#9734</option>
      <option>&#9734 &#9734 &#9734</option>
      <option>&#9734 &#9734</option>
      <option>&#9734</option>
    </select>
  </div>
  <div class="form-group">
    <label>Maximum price (EUR)</label>
    <input type="text" placeholder="200">
  </div>
</div>