<div class="hotel-list">
  <div class="best-entry" id="benjamin">
    <div class="row">
      <h4>The Benjamin</h4> <span class="best-match">Best Match!</span><br>
      <div class="hotel-details">
        <div class="col-sm-4">
          <%= image_tag 'benjamin.jpg', class: 'hotel-image' %>
       </div>
        <div class="col-sm-4">
          <p>≈ 30 minutes from Legoland</p>
          <p>4/4 of your criteria!</p>
        </div>
        <div class="col-sm-4">
          <h4>From &euro;120</h4>
          <p>Available based on your dates!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="hotel-entry" id="residence">
    <div class="row">
      <h4>Residence Inn Midtown East</h4>
      <div class="hotel-details">
        <div class="col-sm-4">
          <%= image_tag 'residence.jpg', class: 'hotel-image' %><br>
        </div>
        <div class="col-sm-4">
          <p>≈ 30 minutes from Legoland</p>
          <p>3/4 of your criteria</p>
        </div>
        <div class="col-sm-4">
          <h4>From &euro;160</h4>
          <p>Available based on your dates!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="hotel-entry" id="marriott">
    <div class="row">
      <h4>Newark International Marriott</h4>
      <div class="hotel-details">
        <div class="col-sm-4">
          <%= image_tag 'marriott.jpg', class: 'hotel-image' %>
        </div>
        <div class="col-sm-4">
          <p>≈ 60 minutes from Legoland</p>
          <p>3/4 of your criteria</p>
        </div>
        <div class="col-sm-4">
          <h4>From &euro;140</h4>
          <p>Available based on your dates!</p>
        </div>
      </div>
    </div>
  </div>
</div>