<div class="col-sm-5 col-sm-offset-1">
    <div class="form-group">
      <label>Number of Travelers</label>
      <select class="form-control">
        <option disabled="" selected="">- travelers -</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6+</option>
      </select>
    </div>
  </div>
  <div class="col-sm-5 days">
    <div class="picker">
      <label>Pre-trip and Post-trip days</label><br />
      <input type="text" placeholder="1">
      <input type="text" placeholder="1">
    </div>
    <div class="date">
      <label>Appointment date</label><br />
      <input type="text" value="2017-04-28">
    </div>
  </div>
</div>