<div class="row amenities-list">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="form-group">
      <h5>Productivity</h5>
      <div class="col-sm-3">
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox1" value="option1"> WiFi
        </label>
      </div>
      <div class="col-sm-3">
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox2" value="option2"> Audio-visual equipment
        </label>
      </div>
      <div class="col-sm-3">
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox3" value="option3"> Conference/meeting rooms
        </label>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="form-group">
      <div class="col-sm-3">
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox1" value="option4"> Business center
        </label>
      </div>
      <div class="col-sm-3">
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox2" value="option5"> Photocopier
        </label>
      </div>
      <div class="col-sm-3">
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox3" value="option6"> Fax Machine
        </label>
      </div>
    </div>
  </div>
</div>