<div class="col-sm-4">
  <div class="choice active" data-toggle="wizard-radio" rel="tooltip" title="Select this option if you will rent a car.">
    <input type="radio" name="type" value="Rental Car">
    <div class="icon"><i class="fa fa-car"></i></div>
    <h6>Rental Car</h6>
  </div>
</div>
<div class="col-sm-4">
  <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="For the purposes of the demo, this option is not available.">
    <input type="radio" name="type" value="Public Transportation">
    <div class="icon"><i class="fa fa-bus"></i></div>
    <h6>Public Transportation</h6>
  </div>
</div>
<div class="col-sm-4">
  <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="For the purposes of the demo, this option is not available.">
    <input type="radio" name="type" value="On Foot">
    <div class="icon"><i class="fa fa-location-arrow"></i></div>
    <h6>On Foot</h6>
  </div>
</div>