<div class="col-sm-4">
  <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Select this option if you will rent a car.">
    <input type="radio" name="type" value="Rental Car">
    <div class="icon"><i class="fa fa-car"></i></div>
    <h6>Rental Car</h6>
  </div>
</div>
<div class="col-sm-4">
  <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Select this option if you will primarily use public transportation.">
    <input type="radio" name="type" value="Public Transportation">
    <div class="icon"><i class="fa fa-bus"></i></div>
    <h6>Public Transportation</h6>
  </div>
</div>
<div class="col-sm-4">
  <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Select this option if you will primarily get around on foot. NOTE: this option uses public transportation for longer distances, but prefers hotels that are as close as possible to your destination. If no hotels are within walking distance, we'll let you know.">
    <input type="radio" name="type" value="On Foot">
    <div class="icon"><i class="fa fa-location-arrow"></i></div>
    <h6>On Foot</h6>
  </div>
</div>