<div class="wizard-footer">
	<div class="pull-right">
	  <input type='button' class='btn btn-next btn-fill btn-success btn-wd btn-sm' name='next' value='Next' />
	  <a href="/finish"><input type='button' class='btn btn-finish btn-fill btn-success btn-wd btn-sm' name='Select hotel' value='Select hotel' /></a>
	</div>
	<div class="pull-left">
	  <input type='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm' name='previous' value='Previous' />
	</div>
	<div class="clearfix"></div>
</div>